body {
    margin: 0%;
    background-color: rgba(228, 238, 239, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.return-to-top{
    background-color: rgba(43, 42, 48, 1);
}

.header-bar {
    position: relative;
    padding: 0.5%;
    background-color: rgba(43, 42, 48, 1);
}

.header-bar a {
    color: rgba(228, 238, 239, 1);
    text-decoration: none;
}

.nav-menu-bar {
    text-decoration: rgba(228, 238, 239, 1);
    padding: 0.5%;
    background-color: rgba(22, 22, 22, 1);
}

.nav-menu-bar a {
    color: rgba(228, 238, 239, 1);
    text-decoration: none;
}

.nav-menu-bar-tabs {
    text-decoration-color: rgba(228, 238, 239, 1);
    text-align: right;
}

.carousel-slide {
    padding: 25%;
    background-color: rgba(205, 205, 205, 1);
}

.circle-sec {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    text-align: center;
    background-color: rgba(228, 238, 239, 1);
}

.circle-sec a {
    margin: 0%;
}

.circle-work {
    /*margin: auto;*/
    height: 100px;
    width: 100px;
    background-color: rgba(43, 42, 48, 1);
    border-radius: 100px;
}

/*.circle-work a{
    margin: 0%;
}*/

.circle-enroll {
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: rgba(43, 42, 48, 1);
    border-radius: 100px;
}

.circle-book {
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: rgba(43, 42, 48, 1);
    border-radius: 100px;
}

.news-sec {
    padding: 10%;
    background-color: rgba(228, 238, 239, 1);
}